.dm-chat-container {
  padding: 2.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dm-chat-header {
  margin-bottom: 3.5em;
}
.dm-chat-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-left: 5em;
}

.dm-chat-message {
  border: 1px solid white;
  border-radius: 0.5em;
  text-align: start;
}

.dm-chat-message-container {
  margin-bottom: 1em;
}
.dm-chat-message-container.received {
  align-self: flex-start;
  background-color: #923434; /* Цвет для полученных сообщений */
  margin-right: auto;
}

.dm-chat-message-container.sent {
  align-self: flex-end;
  background-color: #4c8069; /* Цвет для отправленных сообщений */
  margin-left: auto;
}

.dm-chat-message {
  padding: 0.5em 1em;
  border-radius: 0.5em;
}
.dm-chat-input-container {
  width: 70%;
}
.dm-chat-input {
  width: 100%;
  border-radius: 0.4em;
  background-color: inherit;
  border: 1px solid white;
  margin-top: 3.5em;
}
